<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Изменить пароль</title>
    <link rel="shortcut icon" href="{%  static 'icons/favicon.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'testApp/css/pages/form.css' %}">
</head>
<body class="body">
  {% include 'includes/header.html' %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Изменить пароль</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post">
            {% csrf_token %}

            <div class="form__group">
                <label class="form__label">Старый пароль</label>
                <div class="form__field-group">
                    <input type="password" name="old_password" required="" class="form__input">
                </div>
            </div>
            <div class="form__group">
                <label class="form__label">Новый пароль</label>
                <div class="form__field-group">
                    <input type="password" name="new_password1" required="" class="form__input">
                    <span class="form__input-info">Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</span>
                    <span class="form__input-info">Ваш пароль должен содержать как минимум 8 символов.</span>
                    <span class="form__input-info">Ваш пароль не может быть одним из широко распространённых паролей.</span>
                    <span class="form__input-info">Ваш пароль не может состоять только из цифр.</span>
                </div>
            </div>
            <div class="form__group">
                <label class="form__label">Подтверждение нового пароля</label>
                <div class="form__field-group">
                    <input type="password" name="new_password2" required="" class="form__input">
                </div>
                                  <div class="form-error">
                       {% for field, error in form.errors.items %}
        <div class="alert alert-danger my-3 p-1" role="alert">
            {{ error|striptags }}
        </div>
                  {% endfor %}
                       </div>
            </div>
            <br>
                <div class="form__footer">
                            <div class="form-error">
                       {% for field, error in form.errors.items %}
        <div class="alert alert-danger my-3 p-1" role="alert">
            {{ error|striptags }}
        </div>
                  {% endfor %}
               </div>
                    <button type="submit" class="button button_style_blue">Изменить пароль</button>
                </div>
        </form>
    </div>


</main>
{% include 'includes/footer.html' %}
</body>
</html>
